section {
    &#about {
        float: left;
        width: 100%;
        height: auto;
        padding: 100px 0;

        h4 {
            font-family: 'Montserrat';
            font-size: 50px;
            font-weight: 300;
            letter-spacing: 2px;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 30px;
        }

        h5 {
            font-family: 'Montserrat';
            font-size: 24px;
            font-weight: 400;
            text-align: center;
            text-transform: lowercase;
            margin-bottom: 15px;
        }

        p {
            font-family: 'Montserrat';
            font-size: 16px;
            font-weight: 300;
            text-align: center;
            margin: 0 auto;
            width: 65%;

            @media (max-width: 767px) {
                width: 100%;
            }
        }
    }
}