section {
    &#clients {
        position: relative;
        float: left;
        width: 100%;
        height: 500px;
        padding: 115px 0;
        background-color: #F9F9F9;
        background-image: url(../img/clients/back-mountain-2.jpg);
        background-size: cover;
        background-position-y: center;
        background-attachment: fixed;

        &:before {
            background-color: rgba(39, 39, 39, 0.65);
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
        }

        h4 {
            font-family: 'Montserrat';
            font-size: 30px;
            font-weight: 300;
            color: #FFFFFF;
            letter-spacing: 1px;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 30px;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                .clients-img {
                    background-color: #aaa;
                    border-radius: 50%;
                    width: 105px;
                    height: 105px;
                    overflow: hidden;
                    position: relative;
                    margin: 0 auto;

                    img {
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        height: auto;
                    }
                }
                
                .clients-content {
                    text-align: center;
                    color: #FFFFFF;
                    width: 50%;
                    margin: 30px auto;
                }
            }
        }
    }
}