section {
    &#services {
        float: left;
        width: 100%;
        height: auto;
        padding: 100px 0;
        background-color: #F9F9F9;

        h4 {
            font-family: 'Montserrat';
            font-size: 30px;
            font-weight: 300;
            letter-spacing: 1px;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 70px;
        }

        ul {
            margin: 0;
            padding: 0;
            text-align: center;

            li {
                list-style: none;
                width: 75%;
                min-height: 225px;
                height: auto;
                margin: 0 auto;
                padding: 25px;

                .services-img {
                    margin-bottom: 15px;

                    img {
                        display: inline-block;
                        width: auto;
                        height: auto;
                        max-width: 128px;
                        max-height: 128px;
                    }
                }

                .services-content {
                    span {
                        font-family: 'Montserrat';
                        font-size: 16px;
                        font-weight: 300;
                        letter-spacing: 2px;
                        text-transform: uppercase;
                        text-align: center;
                    }

                    p {
                        font-family: 'Roboto';
                        font-size: 14px;
                        font-weight: 300;
                        letter-spacing: 1px;
                        text-align: center;
                    }
                }
            }
        }
    }
}