section {
    &#work {
        float: left;
        width: 100%;
        height: auto;
        padding: 100px 0;

        h4 {
            font-family: 'Montserrat';
            font-size: 50px;
            font-weight: 300;
            letter-spacing: 1px;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 30px;
        }

        h5 {
            font-family: 'Montserrat';
            font-size: 24px;
            font-weight: 400;
            letter-spacing: 1px;
            text-align: center;
            text-transform: lowercase;
            margin-bottom: 15px;
        }

        ul {
            &#work-menu {
                margin: 0 0 45px 0;
                padding: 0;

                li {
                    font-family: 'Roboto';
                    font-size: 14px;
                    font-weight: 300;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    list-style: none;
                    float: left;
                    margin: 0 10px;
                    padding: 2px 6px;
                    cursor: pointer;
                }
            }

            &#work-post {
                margin: 0;
                padding: 0;

                li {
                    position: relative;
                    float: left;
                    width: 29%;
                    list-style: none;
                    margin: 20px 2%;

                    &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 0%;
                        height: 0%;
                        background-color: rgba(255, 255, 255, 0.70);
                        transition-duration: .4s;
                    }

                    &:hover {
                        &:before {
                            content: '';
                            display: block;
                            position: absolute;
                            top: 7%;
                            left: 7%;
                            width: 86%;
                            height: 86%;
                            background-color: rgba(255, 255, 255, 0.70);
                        }
                    }

                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
}