section {
    &#work {
        float: left;
        width: 100%;
        height: auto;
        padding: 100px 0 0 0;

        h4 {
            font-family: 'Montserrat';
            font-size: 50px;
            font-weight: 300;
            letter-spacing: 1px;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 30px;
        }

        h5 {
            font-family: 'Montserrat';
            font-size: 24px;
            font-weight: 400;
            letter-spacing: 1px;
            text-align: center;
            text-transform: lowercase;
            margin-bottom: 15px;
        }

        ul {
            &#work-menu {
                margin: 0 0 30px 0;
                padding: 0;

                li {
                    font-family: 'Roboto';
                    font-size: 14px;
                    font-weight: 300;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    list-style: none;
                    float: left;
                    margin: 0 10px;
                    padding: 5px;
                    cursor: pointer;
                }
            }

            &#work-post {
                margin: 0;
                padding: 0;

                li {
                    float: left;
                    width: 25%;
                    list-style: none;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
}