footer {
    font-family: 'Roboto';
    float: left;
    width: 100%;
    height: auto;
    padding: 75px 0;
    background-color: #3F3F3F;

    h6 {
        font-family: 'Montserrat';
        font-size: 24px;
        margin-bottom: 30px;
    }

    .footer-datas {
        span {
            i {
                text-align: center;
                font-size: 35px;
                color: #FFFFFF;
                width: 100%;
                margin-bottom: 20px;
            }

            p {
                text-align: center;
                font-size: 15px;
                font-weight: 400;
                color: #FFFFFF;
                margin-bottom: 5px;
            }

            h6 {
                text-align: center;
                font-family: 'Montserrat';
                font-size: 22px;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-weight: 300;
                color: #FFFFFF;
                margin-top: 75px;
            }
        }
    }
}