footer {
    font-family: 'Roboto';
    float: left;
    width: 100%;
    height: auto;
    padding: 75px 0;
    background-color: #3F3F3F;

    h6 {
        font-family: 'Montserrat';
        font-size: 24px;
        margin-bottom: 30px;
    }

    .footer-datas {
        @media (max-width: 768px) {
            margin-top: 30px;
        }

        span {
            i {
                text-align: center;
                font-size: 35px;
                color: #FFFFFF;
                width: 100%;
                margin-bottom: 20px;

                @media (max-width: 768px) {
                    margin-bottom: 10px;
                }
            }

            p {
                text-align: center;
                font-size: 15px;
                font-weight: 400;
                color: #FFFFFF;
                margin-bottom: 5px;

                @media (max-width: 768px) {
                    margin-bottom: 5px;
                }

                i {
                    float: left;
                    width: initial;
                    color: #FFFFFF;
                    font-size: 18px;
                    margin-right: 7px;
                }
            }

            h6 {
                text-align: center;
                font-family: 'Montserrat';
                font-size: 20px;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-weight: 300;
                color: #FFFFFF;
                margin-top: 75px;

                @media (max-width: 768px) {
                    margin-top: 50px;
                }
            }
        }
    }

    #footer-social-media {
        span {
            i {
                text-align: center;
                float: left;
                color: #FFFFFF;
                font-size: 18px;
                margin: 0 10px;
            }
        }
    }
}