header {
    position: absolute;
    width: 100%;
    height: 90px;
    line-height: 80px;
    margin-top: 15px;
    z-index: 9;

    #logo {
        h1 {
            font-family: 'Montserrat';
            margin: 0;
            line-height: 90px;

            a {
                text-decoration: none;
                color: #FFFFFF;
            }
        }
    }

    #header-menu {
        ul {
            margin: 0;
            padding: 0;
        
            li {
                font-family: 'Montserrat';
                cursor: pointer;
                list-style: none;
                float: left;
                padding: 0 5px;
                margin: 0 5px;
                line-height: 90px;
                color: #FFFFFF;

                &:last-child {
                    padding: 0 0 0 5px;
                    margin: 0 0 0 5px;
                }
            }       
        }
    }
}