header {
    position: absolute;
    width: 100%;
    height: 90px;
    line-height: 80px;
    margin-top: 15px;
    z-index: 9;

    @media (max-width: 768px) {
        position: fixed;
        background-color: #2C3742;
        height: 60px;
        margin-top: 0;
    }

    #logo {
        h1 {
            font-family: 'Montserrat';
            font-size: 40px;
            margin: 0;
            line-height: 90px;

            @media (max-width: 768px) {
                font-size: 24px;
                line-height: 60px;
            }

            a {
                text-decoration: none;
                color: #FFFFFF;
            }
        }
    }

    #header-menu {
        ul {
            margin: 0;
            padding: 0;
        
            li {
                font-family: 'Montserrat';
                cursor: pointer;
                list-style: none;
                float: left;
                padding: 0 5px;
                margin: 0 5px;
                line-height: 90px;
                color: #FFFFFF;

                a {
                    position: relative;
                    color: #FFFFFF;
                    text-decoration: none;

                    &:before {
                        content: '';
                        display: inline-block;
                        position: absolute;
                        bottom: -2px;
                        left: 1px;
                        width: 100%;
                        height: 3px;
                        background-color: #FD7070;
                        visibility: hidden;
                        -webkit-transform: scaleX(0);
						transform: scaleX(0);
						-webkit-transition: all 0.2s ease-in-out 0s;
						transition: all 0.2s ease-in-out 0s;
                    }
    
                    &:hover {
                        &:before {
                            visibility: visible;
                            -webkit-transform: scaleX(1);
                            transform: scaleX(1);
                        }
                    }
                }

                &:last-child {
                    padding: 0 0 0 5px;
                    margin: 0 0 0 5px;
                }
            }       
        }
    }
}